<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wormssoundboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".germanworm"></activity>
        <activity android:name=".spanishworm" />
        <activity android:name=".italianworm" />
        <activity android:name=".geezer" />
        <activity android:name=".dutchworm" />
        <activity android:name=".engworm" />
        <activity android:name=".rusworm" />
        <activity android:name=".sergantworms" />
        <activity android:name=".wackyworms" />
        <activity android:name=".kamikazeworm" />
        <activity android:name=".cyberworm" />
        <activity android:name=".polish" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>